<configuration packagingData="true" debug="true" scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Custom Appender-->
    <appender name="ConAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Logging in IDE environment-->
    <springProfile name="demo">


        <!-- Spring logs-->
        <logger name="org.springframework.boot" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <logger name="org.springframework.cloud" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <!-- Spring Security logs-->
        <logger name="org.springframework.security" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <!-- Hibernate info logs-->
        <logger name="org.hibernate" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

    </springProfile>


    <root level="INFO">
        <!-- These two appender are defined in Spring Boot base.xml logback file. See this https://github.com/spring-projects/spring-boot/tree/master/spring-boot-project/spring-boot/src/main/resources/org/springframework/boot/logging/logback -->
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
